* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	background-color: #0086ff;
	color: #fff;
}

.page {
	padding: 10vw;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.5s ease;
  transform: translate3d(100%, 0, 0);
}

.page.is-visible {
  transform: translate3d(0, 0, 0);
}

.question + .question {
	display: none;
}

.question.done + .question:not(.done) {
	display: block;
}

.question.done {
	display: none;
}

.question ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.question legend {
   font-size: 2rem;
   margin-bottom: 1rem;
}


@media (min-width: 40em) {
	.question legend {
	 	font-size: 4rem;
	}
}

.question input {
	display: none;
}

.question label {
   display: block;
   padding: 1em;
   border: 1px #112d4b solid;
   margin-bottom: 1rem;
}

.question button {
   display: block;
   padding: 1em;
   background-color: #27ae60;
   border: none;
   font-size: 1rem;
   color: #fff;
   width: 100%;
}

.question input:checked + label {
   background: #112d4b;
   border-color: #112d4b;
}

.question__text {
  opacity: 0;
  transtion: opacity 0.1s linear;
}

.question__text.is-visible {
  opacity: 1;
}

.question.done + .question:not(.done)  {
