* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	background-color: #0086ff;
	color: #fff;
}

body {
	padding: 10vw;
}

.question + .question {
	display: none;
}

.question.done + .question:not(.done) {
	display: block;
}

.question.done {
	display: none;
}

.question ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.question legend {
   font-size: 4rem;
   margin-bottom: 1rem;
}


@media (min-width: 40em) {
	.question legend {
	 
	}
}

.question input {
	display: none;
}

.question label {
   display: block;
   padding: 1em;
   border: 1px #112d4b solid;
   margin-bottom: 1rem;
}

.question button {
   display: block;
   padding: 1em;
   background-color: #27ae60;
   border: none;
   font-size: 1rem;
   color: #fff;
}

.question input:checked + label {
   background: #112d4b;
   border-color: #112d4b;
}
